@{
    ViewData["Title"] = "Web Design";
    Layout = "_LayoutIndex";
}
<link href="~/css/course.css" rel="stylesheet">
<script src="~/js/site.js"></script>
<body>
    @* modules *@
    <h1>Web Design and Development</h1>
    <h2>Course Content</h2>
    <div class="title-module">
        <h2 class="title">Module 1: Introduction <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <p>This is the first paragraph.</p>
            <p>This is the second paragraph.</p>
            <p>This is the third paragraph.</p>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 2: Arrays and Big-O Notation  <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <p>This is the first paragraph.</p>
            <p>This is the second paragraph.</p>
            <p>This is the third paragraph.</p>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 3: Sort Algorithms <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <p>This is the first paragraph.</p>
            <p>This is the second paragraph.</p>
            <p>This is the third paragraph.</p>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 4: Lists <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <p>This is the first paragraph.</p>
            <p>This is the second paragraph.</p>
            <p>This is the third paragraph.</p>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 5: Stacks <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <p>This is the first paragraph.</p>
            <p>This is the second paragraph.</p>
            <p>This is the third paragraph.</p>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 6: Queues <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <p>This is the first paragraph.</p>
            <p>This is the second paragraph.</p>
            <p>This is the third paragraph.</p>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 7: Search Algorithms <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <p>This is the first paragraph.</p>
            <p>This is the second paragraph.</p>
            <p>This is the third paragraph.</p>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 8: Trees <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <p>This is the first paragraph.</p>
            <p>This is the second paragraph.</p>
            <p>This is the third paragraph.</p>
        </div>
    </div>
</body>