
@{
    ViewData["Title"] = "Courses Page";
    Layout = "_LayoutIndex";
}

<link href="~/css/list.css" rel="stylesheet">
<link href="~/css/course.css" rel="stylesheet">

<body>
    <div class="text-center">
        <h1 class="display-4">Courses</h1>
        <input type="text" id="searchString" placeholder="Search for courses..." />
        <button onclick="searchCourses()" class="custom-btn">Search</button>
    </div>

    <div class="row" id="coursesContainer">
        <div class="column">
            <a class="" href="~/Course/WebDesign">
                <img id="imglist" src="~/img/web.png" alt="Web Design">
                <div class="courses-text">
                    <h4>Web Design and Development</h4>
                </div>
            </a>
        </div>
        <div class="column">
            <a class="" href="~/Course/Java">
                <img id="imglist" src="~/img/java.png" alt="Java">
                <div class="courses-text">
                    <h4>Java Programming for Complete Beginners</h4>
                </div>
            </a>
        </div>
        <div class="column">
            <a class="" href="~/Course/CPlusPlus">
                <img id="imglist" src="~/img/cplus.png" alt="C and C++">
                <div class="courses-text">
                    <h4>Coding for Everyone: C and C++</h4>
                </div>
            </a>
        </div>
        <div class="column">
            <a class="" href="~/Course/DataStruct">
                <img id="imglist" src="~/img/data-structure.png" alt="Data Structures">
                <div class="courses-text">
                    <h4>Data Structures and Algorithms</h4>
                </div>
            </a>
        </div>
    </div>

    <script>
        function searchCourses() {
            var searchString = document.getElementById("searchString").value.toLowerCase();
            var coursesContainer = document.getElementById("coursesContainer");
            var courses = coursesContainer.getElementsByClassName("column");

            var found = false;
            for (var i = 0; i < courses.length; i++) {
                var courseTitle = courses[i].getElementsByTagName("h4")[0].innerText.toLowerCase();
                if (courseTitle.includes(searchString)) {
                    courses[i].style.display = "";
                    found = true;
                } else {
                    courses[i].style.display = "none";
                }
            }

            if (!found) {
                for (var i = 0; i < courses.length; i++) {
                    courses[i].style.display = "";
                }
            }
        }
    </script>
</body>