@{
    ViewData["Title"] = "Courses";
    Layout = "_LayoutIndex";
}

    <link href="~/css/list.css" rel="stylesheet">
    <body>  
<h1 class="display-4">Courses</h1>
<div class="row" >
    <div class="column">
         <a class="" href="~/Course/WebDesign">
        <img id="imglist"  src="~/img/web.png" alt="Web Design">
        <div class="courses-text">
            <h4>Web Design and Development</h4>
        </div>
        </a>
    </div>
    <div class="column">
         <a class="" href="~/Course/Java">
        <img id="imglist"  src="~/img/java.png" alt="Java">
        <div class="courses-text">
             <h4>Java Programming for Complete Beginners</h4>
        </div>
        </a>
    </div>
    <div class="column">
         <a class="" href="~/Course/CPlusPlus">
        <img id="imglist"  src="~/img/cplus.png" alt="C and C++">
        <div class="courses-text">
            <h4>Coding for Everyone: C and C++</h4>
        </div>
        </a>
    </div>
    <div class="column">
         <a class="" href="~/Course/DataStruct">
        <img id="imglist" src="~/img/data-structure.png" alt="Data Structures">
        <div class="courses-text">
             <h4>Data Structures and Algorithms</h4>
        </div>
        </a>
    </div>
</div>
</body>