@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutIndex";
}

    <link href="~/css/site.css" rel="stylesheet">
<h1 class="display-4" id="welc">Welcome to Your Learning Journey: Start Here to Succeed!
</h1>
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="~/img/learn.png" style="object-fit: contain;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2" id="body">
                            About
                            Us
                        </h6>
                    <h1 class="display-4">Unveiling Our E-Learning Community and Vision</h1>
                    </div>
                <p>Skills encompass a diverse range of abilities acquired through training, practice, or experience.
                    They enable individuals to perform tasks effectively, spanning technical proficiencies, soft skills, and personal attributes. 
                    These capabilities, including technical expertise, problem-solving acumen, communication finesse, and adaptability, are crucial for personal and professional success. 
                    By continuously refining and expanding their skill sets, individuals can navigate various challenges, seize opportunities, and thrive in dynamic environments.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Feature Start -->
    <div class="container-fluid bg-image" style="margin: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 my-5 pt-5 pb-lg-5">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">
                            Why Choose Us?
                        </h6>
                    <h1 class="display-4">Unlock Your Potential: Explore Our CleverCamp</h1>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="btn-icon bg-primary mr-4">
                 
                        </div>
                        <div class="mt-n1">
                        <h4>Comprehensive Course Offerings</h4>
                            <p>
                            Dive into a vast array of courses covering diverse subjects tailored to meet your learning needs. 
                            From programming languages to art history, our e-learning platform offers an extensive selection of courses curated by experts in their respective fields. 
                            Whether you're a beginner or an advanced learner,
                            there's something here for everyone to explore and expand their knowledge horizons.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="btn-icon bg-secondary mr-4">
                           
                        </div>
                        <div class="mt-n1">
                        <h4>Interactive Learning Experience</h4>
                            <p>
                            Experience interactive learning like never before with our engaging course materials and multimedia resources. Our platform employs innovative teaching methods,
                            including videos, quizzes, and interactive exercises, 
                            to enhance your understanding and retention of course content. Immerse yourself in an interactive learning environment that fosters curiosity, 
                            collaboration, and continuous growth.
                        </p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="btn-icon bg-warning mr-4">
                           
                        </div>
                        <div class="mt-n1">
                        <h4>Flexible Learning Options</h4>
                            <p class="m-0">
                            Enjoy the freedom to learn at your own pace and on your own schedule with our flexible learning options.
                            Access course materials anytime, anywhere, from any device, allowing you to tailor your learning experience to fit your lifestyle.
                            Whether you prefer to study in short bursts or immerse yourself in longer sessions, our e-learning platform accommodates your individual 
                            learning preferences for a truly personalized educational journey.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="~/img/sci.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>
        </div>
    </div>