@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_LayoutIndex";
}
<h1>@ViewData["Title"]</h1>

<p>
    Our privacy policy prioritizes the protection of user data on our e-learning platform. We collect minimal personal information necessary for providing our
    educational services and maintaining user accounts. This data is securely stored and used solely for improving user experience and delivering relevant content. 
    We do not share user information with third parties without consent and adhere to strict data security measures to safeguard against unauthorized access or misuse.
    Our commitment to privacy ensures that users can trust us with their data as they engage in their learning journey.
</p>
