@{
    ViewData["Title"] = "Data Structures";
    Layout = "_LayoutIndex";
}
<link href="~/css/course.css" rel="stylesheet">
<script src="~/js/site.js"></script>
<body>
    @* modules *@
    <h1>Data Structures and Algorithms</h1>
    <h2>Course Content</h2>
    <div class="title-module">
        <h2 class="title">Module 1: Introduction <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Introduction to Data Structures
                </li>
                <li>
                    Introduction to Algorithms
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 2: Arrays and Big-O Notation <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Introduction to Arrays
                </li>
                <li>
                    Big-O Notation
                </li>
                <li>
                    Arrays in Memory
                </li>
                <li>
                    Big-O Values for Array Operations
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 3: Sort Algorithms <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Introduction to Sort Algorithms
                </li>
                <li>
                    Stable vs. Unstable Sort Algorithms
                </li>
                <li>
                    Bubble Sort
                </li>
                <li>
                    Selection Sort
                </li>
                <li>
                    Insertion Sort
                </li>
                <li>
                    Recursion
                </li>
                <li>
                    Merge Sort
                </li>
                <li>
                    Quick Sort
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 4: Lists <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Introduction to Lists
                </li>
                <li>
                    Array Lists
                </li>
                <li>
                    Linked Lists
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 5: Stacks <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Introduction to Stacks

                </li>
                <li>
                    Stacks
                </li>
            </ul>

        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 6: Queues <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Introduction to Queues
                </li>
                <li>
                    Queues
                </li>
                <li>
                    Circular Queue
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 7: Search Algorithms <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Introduction to Search Algorithms
                </li>
                <li>
                    Linear Search Algorithm
                </li>
                <li>
                    Binary Search Algorithm
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 8: Trees <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Introduction to Trees
                </li>
                <li>
                    Trees
                </li>
                <li>
                    Binary Search Trees (Theory)
                </li>
                <li>
                    Binary Search Trees (Insertion)
                </li>
                <li>
                    Binary Search Trees (Traversal)
                </li>
            </ul>
        </div>
    </div>

</body>