@{
    ViewData["Title"] = "Data Structures";
    Layout = "_LayoutIndex";
}
<link href="~/css/course.css" rel="stylesheet">
<script src="~/js/site.js"></script>
<body>
    @* modules *@
    <h1>Data Structures and Algorithms</h1>
    <h2>Course Content</h2>
    <div class="title-module">
        <h2 class="title">Module 1: Introduction <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    What is Data Structure?
                </li>
                <li>
                    What is Algorithm?
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 2: Arrays <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    What is an Array?
                </li>
                <li>
                    Array Representation
                </li>
                <li>
                    Basic Operations in Arrays
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 3: Linked Lists <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    What is Linked List?
                </li>
                <li>
                    Basic Operations in Linked List
                </li>
                <li>
                    What is Doubly Linked List?
                </li>
                <li>
                    What is Circular Linked List?
                </li>
                <li>
                    Test Yourself With Exercises
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 4: Stack & Queue <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    What is a Stack?
                </li>
                <li>
                    What is a Queue?
                </li>
                <li>
                    Test Yourself With Exercises
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 5: Searching Algorithms <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Linear Search Algorithm
                </li>
                <li>
                    Binary Search Algorithm
                </li>
                <li>
                    Fibonacci Search Algorithm
                </li>
                <li>
                    Test Yourself With Exercises
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 6: Sorting Algorithms <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Introduction to Sorting Algorithms
                </li>
                <li>
                    Bubble Sort Algorithm
                </li>
                <li>
                    Insertion Sort Algorithm
                </li>
                <li>
                    Selection Sort Algorithm
                </li>
                <li>
                    Merge Sort Algorithm
                </li>
                <li>
                    Quick Sort Algorithm
                </li>
                <li>
                    Test Yourself With Exercises
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 7: Tree Data Structure <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Tree Data Structure
                </li>
                <li>
                    Tree Traversal
                </li>
                <li>
                    Binary Search Tree
                </li>
                <li>
                    Test Yourself With Exercises
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">References <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Books
                </li>
            </ul>
        </div>
    </div>
    <a asp-controller="SignCourse" asp-action="DataStruct" class="custom-btn" id="cont">Get Started</a>
</body>