@{
    ViewData["Title"] = "Java";
    Layout = "_LayoutIndex";
}
<link href="~/css/course.css" rel="stylesheet">
<script src="~/js/site.js"></script>
<body>
    @* modules *@
    <h1>Java Programming for Complete Beginners</h1>
    <h2>Course Content</h2>
    <div class="title-module">
        <h2 class="title">Module 1: Introduction <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    What is Java?
                </li>
                <li>
                    Why Use Java?
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 2: Java Basics <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Java Syntax
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 3: Primitive Data Types, Variables and Arrays <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Primitive types and variables
                </li>
                <li>
                    Operators
                </li>
                <li>
                    Arrays
                </li>
                <li>
                    Test Yourself With Exercises
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 4: Strings in Java <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    String: object creation and main methods overview
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 5: Control Statements <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    'if - else‘ construction
                </li>
                <li>
                    'switch' construction
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 6: Iteration Statements (Loops) in Java <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    'while' loop
                </li>
                <li>
                    'do-while' loop
                </li>
                <li>
                    'for' with condition loop
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 7: Methods in Java <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Methods in Java: Overview
                </li>
                <li>
                    Recursive methods
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">References <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Books
                </li>
            </ul>
        </div>
    </div>
    <a asp-controller="SignCourse" asp-action="Java" class="custom-btn" id="cont">Get Started</a>
</body>