@{
    ViewData["Title"] = "Java";
    Layout = "_LayoutIndex";
}
<link href="~/css/course.css" rel="stylesheet">
<script src="~/js/site.js"></script>
<body>
    @* modules *@
    <h1>Java Programming for Complete Beginners</h1>
    <h2>Course Content</h2>
    <div class="title-module">
        <h2 class="title">Module 1: Introduction <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <p>This is the first paragraph.</p>
            <p>This is the second paragraph.</p>
            <p>This is the third paragraph.</p>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 2: Java Basics <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <p>This is the first paragraph.</p>
            <p>This is the second paragraph.</p>
            <p>This is the third paragraph.</p>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 3: Primitive Data Types, Variables and Arrays <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <p>This is the first paragraph.</p>
            <p>This is the second paragraph.</p>
            <p>This is the third paragraph.</p>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 4: Operators and Operations with primitive types <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <p>This is the first paragraph.</p>
            <p>This is the second paragraph.</p>
            <p>This is the third paragraph.</p>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 5: Strings in Java <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <p>This is the first paragraph.</p>
            <p>This is the second paragraph.</p>
            <p>This is the third paragraph.</p>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 6: Control Statements <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <p>This is the first paragraph.</p>
            <p>This is the second paragraph.</p>
            <p>This is the third paragraph.</p>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 7: Iteration Statements (Loops) in Java <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <p>This is the first paragraph.</p>
            <p>This is the second paragraph.</p>
            <p>This is the third paragraph.</p>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 8: Methods in Java <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <p>This is the first paragraph.</p>
            <p>This is the second paragraph.</p>
            <p>This is the third paragraph.</p>
        </div>
    </div>

</body>