@{
    ViewData["Title"] = "Web Design";
    Layout = "_LayoutIndex";
}
<link href="~/css/course.css" rel="stylesheet">
<script src="~/js/site.js"></script>
<body>
    @* modules *@
    <h1>Web Design and Development</h1>
    <h2>Course Content</h2>
    <div class="title-module">
        <h2 class="title">Module 1: Introduction <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    What is HTML?
                </li>
                <li>
                    What is an HTML Element?
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 2: Attributes  <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    HTML Attributes
                </li>
                <li>
                    The href Attribute
                </li>
                <li>
                    The src Attribute
                </li>
                 <li>
                    The width and height Attributes
                </li>
                <li>
                    The alt Attribute
                </li>
                <li>
                    Test Yourself With Exercises
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 3: Styles - CSS <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    What is CSS?
                </li>
                <li>
                    Using CSS
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 4: Selectors - CSS <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    CSS Selectors
                </li>
                <li>
                    The CSS element Selector
                </li>
                <li>
                    The CSS id Selector
                </li>
                <li>
                    The CSS class Selector
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 5: JavaScript  <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    JavaScript Can Change HTML Content
                </li>
                <li>
                    JavaScript Can Change HTML Attribute Values
                </li>
                <li>
                    JavaScript Can Change HTML Styles (CSS)
                </li>
                <li>
                    JavaScript Can Show HTML Elements
                </li>
                <li>
                    JavaScript Can Hide HTML Elements
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">Module 6: Bootstrap 4 <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    What is Bootstrap?
                </li>
                <li>
                    Why Use Bootstrap?
                </li>
            </ul>
        </div>
    </div>
    <div class="title-module">
        <h2 class="title">References <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    Books
                </li>
            </ul>
        </div>
    </div>
    <a asp-controller="SignCourse" asp-action="WebDesign" class="custom-btn" id="cont">Get Started</a>
</body>